<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<h2>Transaction History</h2>
		
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>
			<tr th:each="transaction : ${transactions}">
				<td><a th:href="@{/transactions/{tId}(tId=${transaction.id})}">[[${transaction.id}]]</a></td>
				<td th:inline="text">[[${transaction.date}]]</td> 
				<td th:inline="text">[[${transaction.retailer}]]</td> 
				<td th:inline="text">[[${transaction.type == 'C' ? transaction.amount : " "}]]</td>
				<td th:inline="text">[[${transaction.type == 'D' ? transaction.amount : " "}]]</td>
			</tr>
			
			
		</table>
	</body>
</html>